Repository ansys/pyfluent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

refactor: Use api_path
  src/ansys/fluent/core/search.py
Labels: none

chore: adding changelog file 4063.added.md [dependabot-skip]
  doc/changelog.d/4063.added.md
Labels: none

ci: Remove hardcoded Fluent versions from example scripts (#4095)
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/execute-examples-weekly.yml
  .github/workflows/test-fluent-journals.yml
  .github/workflows/test-podman-compose.yml
  .github/workflows/test-run-custom.yml
  .github/workflows/test-run-dev-version-nightly.yml
  .github/workflows/test-run-nightly.yml
  .github/workflows/test-run-old-versions-weekly.yml
  .github/workflows/test-run-solvermode-weekly.yml
  .github/workflows/test-run-wo-codegen-weekly.yml
  Makefile
  examples/00-fluent/conjugate_heat_transfer.py
  examples/00-fluent/lunar_lander_thermal.py
  examples/00-fluent/modeling_ablation.py
  examples/00-fluent/tyler_sofrin_modes.py
Labels: documentation, examples, maintenance, CI/CD

refactor: Use api_path 2
  src/ansys/fluent/core/search.py
Labels: none

refactor: Use launguage
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: Use launguage
  tests/test_search.py
Labels: none

refactor: Use launguage 1
  tests/test_search.py
Labels: none

refactor: remove wildcard
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: update tests
  tests/test_search.py
Labels: none

refactor: refactor 1
  src/ansys/fluent/core/search.py
Labels: none

refactor: refactor 2
  src/ansys/fluent/core/search.py
Labels: none

refactor: refactor 2
  doc/source/user_guide/usability.rst
  src/ansys/fluent/core/search.py
Labels: documentation

refactor: update docs
  doc/source/user_guide/usability.rst
Labels: documentation

fix: replace sum with np.sum for to prevent overflow warning and error (#4096)
  src/ansys/fluent/core/filereader/case_file.py
Labels: none

refactor: Move Fields class to module level.
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/session.py
Labels: none

chore: adding changelog file 4102.miscellaneous.md [dependabot-skip]
  doc/changelog.d/4102.miscellaneous.md
Labels: none

Fix a search test.
  tests/test_search.py
Labels: none

fix: a minor issue in nightly test run workflow.
  .github/workflows/test-run-nightly.yml
Labels: maintenance, CI/CD

refactor: update tests
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

Revert test_search change.
  tests/test_search.py
Labels: none

chore: investigate test_search
  .github/workflows/test-run-custom.yml
  tests/test_search.py
Labels: maintenance, CI/CD

Update .github/workflows/test-run-custom.yml
  .github/workflows/test-run-custom.yml
Labels: maintenance, CI/CD

Update tests/test_search.py
  tests/test_search.py
Labels: none

chore: adding changelog file 4104.maintenance.md [dependabot-skip]
  doc/changelog.d/4104.maintenance.md
Labels: none

allowed fileds
  doc/source/user_guide/physical_variables.rst
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/services/field_data.py
  tests/test_physical_quantities.py
Labels: documentation

extend testing
  src/ansys/fluent/core/services/field_data.py
  tests/test_physical_quantities.py
Labels: none

extend testing
  tests/test_physical_quantities.py
Labels: none

allowed fields
  src/ansys/fluent/core/services/field_data.py
Labels: none

chore: adding changelog file 4104.maintenance.md [dependabot-skip]
  doc/changelog.d/4104.maintenance.md
Labels: none

Update tests/test_search.py
  tests/test_search.py
Labels: none

Update tests/test_search.py
  tests/test_search.py
Labels: none

chore: skip test_search (#4104)
  doc/changelog.d/4104.maintenance.md
  tests/test_search.py
Labels: none

fix: a minor issue in nightly test run workflow. (#4103)
  .github/workflows/test-run-nightly.yml
Labels: maintenance, CI/CD

refactor: Move Fields class to module level. (#4102)
  doc/changelog.d/4102.miscellaneous.md
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/session.py
Labels: none

Update conjugate heat transfer example.
  examples/00-fluent/conjugate_heat_transfer.py
Labels: documentation, examples

Update modelling ablation.
  examples/00-fluent/modeling_ablation.py
Labels: documentation, examples

Update brake example.
  examples/00-fluent/brake.py
Labels: documentation, examples

Update ahmed body workflow.
  examples/00-fluent/ahmed_body_workflow.py
Labels: documentation, examples

chore: adding changelog file 4106.maintenance.md [dependabot-skip]
  doc/changelog.d/4106.maintenance.md
Labels: none

Update images in doc
  doc/source/_static/ablation-avg_pressure.png
  doc/source/_static/ablation-drag_force_x.png
  doc/source/_static/ablation-mach-number-thumbnail.png
  doc/source/_static/ablation-mach-number.png
  doc/source/_static/ablation-pressure.png
  doc/source/_static/ablation-recede_point.png
  doc/source/_static/ablation-residual.png
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'pyproject.toml', 'doc/make.bat', 'doc/Makefile']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']
