Repository ansys/pyfluent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

Add some more images.
  doc/source/_static/TS_formulas.jpg
  doc/source/_static/cht_avg_pressure.png
  doc/source/_static/lunar_lander_regolith_temps.png
  doc/source/_static/lunar_lander_sc_temps.png
  doc/source/_static/ts_modes.png
  doc/source/_static/var_names.jpg
Labels: documentation

refactor: resolved substring match error
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: updated test
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: updated test 1
  tests/test_search.py
Labels: none

refactor: refactor get_results
  src/ansys/fluent/core/search.py
Labels: none

chore: Update examples wrt viz (#4106)
  doc/changelog.d/4106.maintenance.md
  doc/source/_static/TS_formulas.jpg
  doc/source/_static/ablation-avg_pressure.png
  doc/source/_static/ablation-drag_force_x.png
  doc/source/_static/ablation-mach-number-thumbnail.png
  doc/source/_static/ablation-mach-number.png
  doc/source/_static/ablation-pressure.png
  doc/source/_static/ablation-recede_point.png
  doc/source/_static/ablation-residual.png
  doc/source/_static/cht_avg_pressure.png
  doc/source/_static/lunar_lander_regolith_temps.png
  doc/source/_static/lunar_lander_sc_temps.png
  doc/source/_static/ts_modes.png
  doc/source/_static/var_names.jpg
  examples/00-fluent/ahmed_body_workflow.py
  examples/00-fluent/brake.py
  examples/00-fluent/conjugate_heat_transfer.py
  examples/00-fluent/modeling_ablation.py
Labels: documentation, examples

refactor: working fine
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: working fine
  tests/test_search.py
Labels: none

minor changes. removed deprecated. file, solution. indent function attribute.
  doc/source/user_guide/monitors.rst
Labels: documentation

chore: adding changelog file 4109.documentation.md [dependabot-skip]
  doc/changelog.d/4109.documentation.md
Labels: none

docs: Update solver and meshing in examples [skip tests]
  examples/00-fluent/DOE_ML.py
  examples/00-fluent/conjugate_heat_transfer.py
  examples/00-fluent/exhaust_system_settings_api.py
  examples/00-fluent/external_compressible_flow.py
  examples/00-fluent/frozen_rotor_workflow.py
  examples/00-fluent/lunar_lander_thermal.py
  examples/00-fluent/mixing_elbow_settings_api.py
  examples/00-fluent/mixing_tank_workflow.py
  examples/00-fluent/modeling_ablation.py
  examples/00-fluent/modeling_cavitation.py
  examples/00-fluent/radiation_headlamp.py
  examples/00-fluent/species_transport.py
Labels: documentation, examples

chore: adding changelog file 4110.documentation.md [dependabot-skip]
  doc/changelog.d/4110.documentation.md
Labels: none

refactor: update results
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: update docs
  doc/source/user_guide/usability.rst
Labels: documentation

refactor: final refactoring
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

Revert "refactor: final refactoring"
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

refactor: update tests
  tests/test_search.py
Labels: none

refactor: final refactoring 1
  src/ansys/fluent/core/search.py
Labels: none

refactor: final refactoring 2
  src/ansys/fluent/core/search.py
Labels: none

refactor: final refactoring 3
  src/ansys/fluent/core/search.py
Labels: none

refactor: Semantic search enhancements (#4098)
  doc/changelog.d/4098.miscellaneous.md
  doc/source/user_guide/usability.rst
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: documentation

docs: Update solver and meshing in examples [skip tests] (#4110)
  doc/changelog.d/4110.documentation.md
  examples/00-fluent/DOE_ML.py
  examples/00-fluent/conjugate_heat_transfer.py
  examples/00-fluent/exhaust_system_settings_api.py
  examples/00-fluent/external_compressible_flow.py
  examples/00-fluent/frozen_rotor_workflow.py
  examples/00-fluent/lunar_lander_thermal.py
  examples/00-fluent/mixing_elbow_settings_api.py
  examples/00-fluent/mixing_tank_workflow.py
  examples/00-fluent/modeling_ablation.py
  examples/00-fluent/modeling_cavitation.py
  examples/00-fluent/radiation_headlamp.py
  examples/00-fluent/species_transport.py
Labels: documentation, examples

refactor: Rename meshing_rule_file_names to datamodel_file_name_map [skip tests]
  src/ansys/fluent/core/codegen/datamodelgen.py
  src/ansys/fluent/core/session_shared.py
  tests/test_codegen.py
Labels: none

chore: adding changelog file 4112.miscellaneous.md [dependabot-skip]
  doc/changelog.d/4112.miscellaneous.md
Labels: none

refactor: Rename meshing_rule_file_names to datamodel_file_name_map [skip tests]
  src/ansys/fluent/core/launcher/launcher.py
Labels: none

docs: minor changes. (#4109)
  doc/changelog.d/4109.documentation.md
  doc/source/user_guide/monitors.rst
Labels: documentation

refactor: update docker files
  docker/fluent_222/Dockerfile
  docker/fluent_231/Dockerfile
  docker/fluent_232/Dockerfile
  docker/fluent_241/Dockerfile
  docker/fluent_242/Dockerfile
  docker/fluent_251/Dockerfile
  docker/fluent_252/Dockerfile
  docker/fluent_dev/Dockerfile
Labels: CI/CD

refactor: update docker files docs
  doc/source/user_guide/make_container_image.rst
Labels: documentation

refactor: Run each test in its own directory
  tests/conftest.py
Labels: none

chore: adding changelog file 4115.miscellaneous.md [dependabot-skip]
  doc/changelog.d/4115.miscellaneous.md
Labels: none

refactor: Rename meshing_rule_file_names and update docker files [skip tests] (#4112)
  doc/changelog.d/4112.miscellaneous.md
  doc/source/user_guide/make_container_image.rst
  docker/fluent_222/Dockerfile
  docker/fluent_231/Dockerfile
  docker/fluent_232/Dockerfile
  docker/fluent_241/Dockerfile
  docker/fluent_242/Dockerfile
  docker/fluent_251/Dockerfile
  docker/fluent_252/Dockerfile
  docker/fluent_dev/Dockerfile
  src/ansys/fluent/core/codegen/datamodelgen.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/session_shared.py
  tests/test_codegen.py
Labels: documentation, CI/CD

refactor: Update app utilities dict interface
  src/ansys/fluent/core/codegen/print_fluent_version.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/services/app_utilities.py
  src/ansys/fluent/core/services/datamodel_se.py
  tests/test_session.py
Labels: none

chore: adding changelog file 4116.miscellaneous.md [dependabot-skip]
  doc/changelog.d/4116.miscellaneous.md
Labels: none

refactor: Run each test in its own directory (#4115)
  doc/changelog.d/4115.miscellaneous.md
  tests/conftest.py
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

refactor: Update app utilities dict interface (#4116)
  doc/changelog.d/4116.miscellaneous.md
  src/ansys/fluent/core/codegen/print_fluent_version.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/services/app_utilities.py
  src/ansys/fluent/core/services/datamodel_se.py
  tests/test_session.py
Labels: none

docs: Update event docs.
  doc/source/user_guide/events.rst
Labels: documentation

chore: adding changelog file 4118.documentation.md [dependabot-skip]
  doc/changelog.d/4118.documentation.md
Labels: none

Fix style.
  doc/source/user_guide/events.rst
Labels: documentation

docs: Address inconsistencies in naming svars.
  src/ansys/fluent/core/services/solution_variables.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'pyproject.toml', 'doc/make.bat', 'doc/Makefile']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']
