Repository ansys/pyfluent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

chore: updating CHANGELOG for v0.32.dev1
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.32.dev1
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 4080.maintenance.md [dependabot-skip]
  doc/changelog.d/4080.maintenance.md
Labels: none

ci: Vulnerabilities check [skip tests] (#3968)
  .github/workflows/ci.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

feat: Context managers (#4073)
  doc/changelog.d/4073.added.md
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  src/ansys/fluent/core/utils/context_managers.py
  tests/test_builtin_settings.py
Labels: none

build: Bump version to v0.32.0
  src/ansys/fluent/core/__init__.py
Labels: none

build: Bump version to v0.33.dev0
  src/ansys/fluent/core/__init__.py
Labels: none

build: Bump version to v0.32.0 (#4082)
  src/ansys/fluent/core/__init__.py
Labels: none

build: Bump version to v0.33.dev0 (#4083)
  src/ansys/fluent/core/__init__.py
Labels: none

chore: updating CHANGELOG for v0.32.0
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/changelog.d/4073.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.32.0
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/changelog.d/4073.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 4084.maintenance.md [dependabot-skip]
  doc/changelog.d/4084.maintenance.md
Labels: none

chore: updating CHANGELOG for v0.33.dev0
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/changelog.d/4073.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.33.dev0
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/changelog.d/4073.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 4085.maintenance.md [dependabot-skip]
  doc/changelog.d/4085.maintenance.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 4086.documentation.md [dependabot-skip]
  doc/changelog.d/4086.documentation.md
Labels: none

build: Bump version to v0.32.1
  pyproject.toml
  src/ansys/fluent/core/__init__.py
Labels: maintenance, dependencies

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

build: Bump version to v0.32.1 (#4087)
  pyproject.toml
  src/ansys/fluent/core/__init__.py
Labels: maintenance, dependencies

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#4086)
  CONTRIBUTORS.md
  doc/changelog.d/4086.documentation.md
Labels: none

chore: update CHANGELOG for v0.33.dev0 (#4085)
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/changelog.d/4073.added.md
  doc/changelog.d/4085.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: update CHANGELOG for v0.32.0 (#4084)
  doc/changelog.d/4084.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: update CHANGELOG for v0.32.dev1 (#4080)
  doc/changelog.d/4080.maintenance.md
  doc/source/changelog.rst
Labels: documentation

build: remove 22R2 build and testing for regular PR merges in CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Remove post_objects from core repo.
  src/ansys/fluent/core/post_objects/__init__.py
  src/ansys/fluent/core/post_objects/check_in_notebook.py
  src/ansys/fluent/core/post_objects/meta.py
  src/ansys/fluent/core/post_objects/post_helper.py
  src/ansys/fluent/core/post_objects/post_object_definitions.py
  src/ansys/fluent/core/post_objects/post_objects_container.py
  src/ansys/fluent/core/post_objects/singleton_meta.py
  src/ansys/fluent/core/post_objects/timing_decorator.py
Labels: none

chore: adding changelog file 4089.maintenance.md [dependabot-skip]
  doc/changelog.d/4089.maintenance.md
Labels: none

chore: remove 22R2 build and testing for regular PR merges in CI. (#4088)
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Remove post_objects from core repo. (#4089)
  doc/changelog.d/4089.maintenance.md
  src/ansys/fluent/core/post_objects/__init__.py
  src/ansys/fluent/core/post_objects/check_in_notebook.py
  src/ansys/fluent/core/post_objects/meta.py
  src/ansys/fluent/core/post_objects/post_helper.py
  src/ansys/fluent/core/post_objects/post_object_definitions.py
  src/ansys/fluent/core/post_objects/post_objects_container.py
  src/ansys/fluent/core/post_objects/singleton_meta.py
  src/ansys/fluent/core/post_objects/timing_decorator.py
Labels: none

docs: Add newline after block statements in examples code for copy-pasting to Python interpreter [skip tests]
  examples/00-fluent/exhaust_system_settings_api.py
  examples/00-fluent/mixing_elbow_settings_api.py
  examples/00-fluent/modeling_cavitation.py
  examples/00-fluent/species_transport.py
Labels: documentation, examples

chore: adding changelog file 4090.documentation.md [dependabot-skip]
  doc/changelog.d/4090.documentation.md
Labels: none

fix: Avoid passing Path to settings API read_mesh
  examples/00-fluent/species_transport.py
Labels: documentation, examples

fix: replace sum with np.sum for to prevent overflow warning and error
  src/ansys/fluent/core/filereader/case_file.py
Labels: none

ci: Remove hardcoded Fluent versions from example scripts
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/execute-examples-weekly.yml
  .github/workflows/test-fluent-journals.yml
  .github/workflows/test-podman-compose.yml
  .github/workflows/test-run-custom.yml
  .github/workflows/test-run-dev-version-nightly.yml
  .github/workflows/test-run-nightly.yml
  .github/workflows/test-run-old-versions-weekly.yml
  .github/workflows/test-run-solvermode-weekly.yml
  .github/workflows/test-run-wo-codegen-weekly.yml
  examples/00-fluent/conjugate_heat_transfer.py
  examples/00-fluent/lunar_lander_thermal.py
  examples/00-fluent/modeling_ablation.py
  examples/00-fluent/tyler_sofrin_modes.py
Labels: documentation, examples, maintenance, CI/CD

ci: fix missing packaging installation
  .github/workflows/execute-examples-weekly.yml
  Makefile
Labels: maintenance, CI/CD

ci: Use 26.1 image for nightly dev doc run
  .github/workflows/doc-build-dev-nightly.yml
Labels: maintenance, CI/CD

fix: replace sum with np.sum to prevent overflow warning
  src/ansys/fluent/core/filereader/case_file.py
Labels: none

refactor: Semantic search enhancements
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: none

chore: adding changelog file 4098.miscellaneous.md [dependabot-skip]
  doc/changelog.d/4098.miscellaneous.md
Labels: none

docs: Add newline after block statements in examples code for copy-pasting to Python interpreter [skip tests] (#4090)
  doc/changelog.d/4090.documentation.md
  examples/00-fluent/exhaust_system_settings_api.py
  examples/00-fluent/mixing_elbow_settings_api.py
  examples/00-fluent/modeling_cavitation.py
  examples/00-fluent/species_transport.py
Labels: documentation, examples

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'pyproject.toml', 'doc/make.bat', 'doc/Makefile']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']
