Repository ansys/pyfluent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'pyproject.toml', 'doc/make.bat', 'doc/Makefile']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']

ci: Use PyPI packages
  examples/00-fluent/conjugate_heat_transfer.py
Labels: documentation, examples

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
  examples/00-fluent/brake.py
  examples/00-fluent/conjugate_heat_transfer.py
Labels: documentation, examples, maintenance, CI/CD

ci: Use PyPI packages
  src/ansys/fluent/core/launcher/launcher.py
Labels: none

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
  examples/00-fluent/DOE_ML.py
  src/ansys/fluent/core/launcher/launcher.py
Labels: documentation, examples, maintenance, CI/CD

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Use PyPI packages
  examples/00-fluent/brake.py
  src/ansys/fluent/core/launcher/launcher.py
Labels: documentation, examples

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
  examples/00-fluent/brake.py
Labels: documentation, examples, maintenance, CI/CD

chore: Expose field data request objects from core module. (#4138)
  doc/changelog.d/4138.maintenance.md
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/offline/file_session.rst
  src/ansys/fluent/core/__init__.py
  tests/test_field_data.py
  tests/test_file_session.py
  tests/test_physical_quantities.py
Labels: documentation

ci: Set permissions [skip tests]
  .github/workflows/ci.yml
Labels: maintenance, CI/CD
