Repository ansys/pyfluent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'pyproject.toml', 'doc/make.bat', 'doc/Makefile']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']

chore: adding changelog file 4119.documentation.md [dependabot-skip]
  doc/changelog.d/4119.documentation.md
Labels: none

chore: Update the warning throw from '_get_create_instance_args'
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

chore: adding changelog file 4120.maintenance.md [dependabot-skip]
  doc/changelog.d/4120.maintenance.md
Labels: none

Update description.
  doc/source/user_guide/events.rst
Labels: documentation

Update description.
  doc/source/user_guide/events.rst
Labels: documentation

Update src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

Update src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

Update src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

Update src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

Fix styling.
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

docs: Update event docs. [skip tests] (#4118)
  doc/changelog.d/4118.documentation.md
  doc/source/user_guide/events.rst
Labels: documentation

Rename 'solution_variable_name'.
  devel/undocumented_fields/undocumented_fields.txt
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/fields/solution_data.rst
  doc/source/user_guide/physical_variables.rst
  src/ansys/fluent/core/services/solution_variables.py
  tests/test_physical_quantities.py
  tests/test_solution_variables.py
Labels: documentation

docs: Correct a typo [skip tests]
  examples/00-fluent/exhaust_system_settings_api.py
Labels: documentation, examples

chore: adding changelog file 4123.documentation.md [dependabot-skip]
  doc/changelog.d/4123.documentation.md
Labels: none

docs: Correct a typo [skip tests]
  examples/00-fluent/external_compressible_flow.py
Labels: documentation, examples

docs: Correct a typo [skip tests]
  examples/00-fluent/modeling_cavitation.py
Labels: documentation, examples

docs: Correct a typo [skip tests] (#4123)
  doc/changelog.d/4123.documentation.md
  examples/00-fluent/exhaust_system_settings_api.py
  examples/00-fluent/external_compressible_flow.py
  examples/00-fluent/modeling_cavitation.py
Labels: documentation, examples

Update error class.
  devel/undocumented_fields/undocumented_fields.txt
  src/ansys/fluent/core/services/solution_variables.py
Labels: none

ci: Remove docker images after any job that consumes Fluent image
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/doc-build-release.yml
  .github/workflows/execute-examples-weekly.yml
  .github/workflows/force-update-stable-Fluent-image-version.yml
  .github/workflows/test-fluent-journals.yml
  .github/workflows/test-run-custom.yml
  .github/workflows/test-run-dev-version-nightly.yml
  .github/workflows/test-run-nightly.yml
  .github/workflows/test-run-old-versions-weekly.yml
  .github/workflows/test-run-solvermode-weekly.yml
  .github/workflows/test-run-wo-codegen-weekly.yml
  Makefile
Labels: maintenance, CI/CD

chore: Expose field data request objects from core module.
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/offline/file_session.rst
  src/ansys/fluent/core/__init__.py
  tests/test_field_data.py
  tests/test_file_session.py
  tests/test_physical_quantities.py
Labels: documentation

chore: adding changelog file 4138.maintenance.md [dependabot-skip]
  doc/changelog.d/4138.maintenance.md
Labels: none

ci: Test docker system prune
  Makefile
Labels: none

chore: Add warning while using Fluent develop branch.
  src/ansys/fluent/core/exceptions.py
  src/ansys/fluent/core/session_base_meshing.py
  src/ansys/fluent/core/session_shared.py
  src/ansys/fluent/core/solver/flobject.py
Labels: none

chore: adding changelog file 4140.maintenance.md [dependabot-skip]
  doc/changelog.d/4140.maintenance.md
Labels: none

Design change in Solver.
  src/ansys/fluent/core/session_solver.py
Labels: none

ci: Fix examples workflow [skip tests]
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Fix examples workflow [skip tests]
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

docs: Rename solver and meshing in user docs [skip tests]
  doc/source/user_guide/convert_journal.rst
  doc/source/user_guide/events.rst
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/fields/field_info.rst
  doc/source/user_guide/fields/reduction.rst
  doc/source/user_guide/fields/solution_data.rst
  doc/source/user_guide/journal.rst
  doc/source/user_guide/legacy/rpvars.rst
  doc/source/user_guide/make_container_image.rst
  doc/source/user_guide/meshing/meshing_workflows.rst
  doc/source/user_guide/meshing/new_meshing_workflows.rst
  doc/source/user_guide/monitors.rst
  doc/source/user_guide/physical_variables.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  doc/source/user_guide/session/session.rst
  doc/source/user_guide/solver_settings/set_up/boundary_conditions.rst
  doc/source/user_guide/solver_settings/set_up/materials.rst
  doc/source/user_guide/solver_settings/set_up/models/battery.rst
  doc/source/user_guide/solver_settings/set_up/models/dpm.rst
  doc/source/user_guide/solver_settings/set_up/models/energy.rst
  doc/source/user_guide/solver_settings/set_up/models/models_contents.rst
  doc/source/user_guide/solver_settings/set_up/models/radiation.rst
  doc/source/user_guide/solver_settings/set_up/models/species.rst
  doc/source/user_guide/solver_settings/set_up/models/viscous.rst
  doc/source/user_guide/solver_settings/solution.rst
  doc/source/user_guide/solver_settings/solver_settings_contents.rst
  doc/source/user_guide/units.rst
  doc/source/user_guide/user_guide_contents.rst
Labels: documentation

chore: adding changelog file 4142.documentation.md [dependabot-skip]
  doc/changelog.d/4142.documentation.md
Labels: none

docs: Rename solver and meshing in user docs [skip tests]
  doc/source/user_guide/legacy/tui.rst
Labels: documentation

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

docs: Rename solver and meshing in user docs [skip tests]
  doc/source/user_guide/events.rst
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/meshing/meshing_workflows.rst
  doc/source/user_guide/meshing/new_meshing_workflows.rst
  doc/source/user_guide/session/session.rst
  doc/source/user_guide/user_guide_contents.rst
Labels: documentation

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

chore: Update the warning throw from '_get_create_instance_args' (#4120)
  doc/changelog.d/4120.maintenance.md
  src/ansys/fluent/core/services/datamodel_se.py
Labels: none

ci: Use PyPI packages
  .github/workflows/execute-examples-weekly.yml
Labels: maintenance, CI/CD

Update.
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/fields/solution_data.rst
  tests/test_solution_variables.py
Labels: documentation
