Repository ansys/pyfluent, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

chore: adding changelog file 3281.test.md [dependabot-skip]
  doc/changelog.d/3281.test.md
Labels: none

Update tests/test_meshing_workflow.py
  tests/test_meshing_workflow.py
Labels: none

build: Bump version to v0.32.dev1 (#4065)
  src/ansys/fluent/core/__init__.py
Labels: none

chore: updating CHANGELOG for v0.32.dev1
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 4067.maintenance.md [dependabot-skip]
  doc/changelog.d/4067.maintenance.md
Labels: none

test: Activate 2d meshing tests for 25 R1 (#3281)
  doc/changelog.d/3281.test.md
  tests/test_meshing_workflow.py
Labels: none

test: actions v10
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/label.yml
Labels: maintenance, CI/CD

test with main branch
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: Update docker files for 26R1 [skip tests]
  docker/copy_docker_files.py
  docker/fluent_252/Dockerfile
  docker/fluent_252/cadList.txt
  docker/fluent_252/ceiList.txt
  docker/fluent_252/cfdpostList.txt
  docker/fluent_252/excludeCEIList.txt
  docker/fluent_252/excludeFluentList.txt
  docker/fluent_252/fluentList.txt
  docker/fluent_252/fluidsoneList.txt
  docker/fluent_dev/cadList.txt
  docker/fluent_dev/ceiList.txt
  docker/fluent_dev/cfdpostList.txt
  docker/fluent_dev/excludeCEIList.txt
  docker/fluent_dev/excludeFluentList.txt
  docker/fluent_dev/fluentList.txt
  docker/fluent_dev/fluidsoneList.txt
Labels: CI/CD

Update 2d Meshing test.
  tests/test_meshing_workflow.py
Labels: none

chore: adding changelog file 4072.maintenance.md [dependabot-skip]
  doc/changelog.d/4072.maintenance.md
Labels: none

Minor correction.
  tests/test_meshing_workflow.py
Labels: none

feat: Context managers
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  tests/test_builtin_settings.py
Labels: none

chore: adding changelog file 4073.added.md [dependabot-skip]
  doc/changelog.d/4073.added.md
Labels: none

feat: Context managers
  src/ansys/fluent/core/utils/context_managers.py
Labels: none

feat: Context managers
  src/ansys/fluent/core/utils/context_managers.py
Labels: none

chore: Update 2d Meshing test. (#4072)
  doc/changelog.d/4072.maintenance.md
  tests/test_meshing_workflow.py
Labels: none

ci: Update docker files for 26R1 [skip tests] (#4070)
  docker/copy_docker_files.py
  docker/fluent_252/Dockerfile
  docker/fluent_252/cadList.txt
  docker/fluent_252/ceiList.txt
  docker/fluent_252/cfdpostList.txt
  docker/fluent_252/excludeCEIList.txt
  docker/fluent_252/excludeFluentList.txt
  docker/fluent_252/fluentList.txt
  docker/fluent_252/fluidsoneList.txt
  docker/fluent_dev/cadList.txt
  docker/fluent_dev/ceiList.txt
  docker/fluent_dev/cfdpostList.txt
  docker/fluent_dev/excludeCEIList.txt
  docker/fluent_dev/excludeFluentList.txt
  docker/fluent_dev/fluentList.txt
  docker/fluent_dev/fluidsoneList.txt
Labels: CI/CD

feat: Context managers
  src/ansys/fluent/core/solver/__init__.py
  src/ansys/fluent/core/utils/context_managers.py
  tests/test_builtin_settings.py
Labels: none

feat: Context managers
  tests/test_builtin_settings.py
Labels: none

feat: Context managers
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  src/ansys/fluent/core/utils/context_managers.py
Labels: none

chore: updating CHANGELOG for v0.32.dev1
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 4075.maintenance.md [dependabot-skip]
  doc/changelog.d/4075.maintenance.md
Labels: none

chore: Update releaseCI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Update release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Update release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Update release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Update release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Update release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: Update release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: Context managers
  src/ansys/fluent/core/solver/settings_builtin_bases.py
Labels: none

feat: Context managers
  src/ansys/fluent/core/utils/context_managers.py
Labels: none

chore: Update releaseCI. (#4077)
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: updating CHANGELOG for v0.32.dev1
  doc/changelog.d/3281.test.md
  doc/changelog.d/4030.documentation.md
  doc/changelog.d/4042.miscellaneous.md
  doc/changelog.d/4044.maintenance.md
  doc/changelog.d/4047.maintenance.md
  doc/changelog.d/4048.miscellaneous.md
  doc/changelog.d/4049.documentation.md
  doc/changelog.d/4054.miscellaneous.md
  doc/changelog.d/4056.maintenance.md
  doc/changelog.d/4057.maintenance.md
  doc/changelog.d/4062.added.md
  doc/changelog.d/4072.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 4078.maintenance.md [dependabot-skip]
  doc/changelog.d/4078.maintenance.md
Labels: none

update pyproject.toml
  .bandit
  pyproject.toml
Labels: maintenance, dependencies

update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

fix: release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: release CI.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: release CI. (#4079)
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'pyproject.toml', 'doc/make.bat', 'doc/Makefile']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']
