Repository ansys/pyfluent, pull requests merged in 2023-10, with the labels that each got.

#2103 Added section to Example Page
  examples/README.txt
Labels: documentation

#2134 Multiple dependency updates per dependabot PR
  .github/dependabot.yml
Labels: Maintenance

#2151 Monthly dependency bot updates
  .github/dependabot.yml
Labels: Maintenance

#2167 More robust Windows launch command for Watchdog
  src/ansys/fluent/core/launcher/watchdog.py
Labels: bug

#2178 Reverting documentation search function
  .github/workflows/nightly-dev-doc-build.yml
  .github/workflows/release-doc-build.yml
  doc/source/conf.py
Labels: bug, documentation
