Repository ansys/pyfluent, pull requests merged in 2025-08, with the labels that each got.

#4327 refactor: set default version to latest release and use max grpc limit
  doc/changelog.d/4327.miscellaneous.md
  src/ansys/fluent/core/launcher/pim_launcher.py
Labels: enhancement

#4333 refactor: Update search API results handling
  doc/changelog.d/4333.miscellaneous.md
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: enhancement

#4338 refactor: Add ui_mode and dry_run for PIM launcher
  doc/changelog.d/4338.miscellaneous.md
  src/ansys/fluent/core/launcher/pim_launcher.py
  src/ansys/fluent/core/session_utilities.py
Labels: enhancement

#4345 fix: Unavaialble field data for some surfaces.
  doc/changelog.d/4345.fixed.md
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/services/field_data.py
Labels: bug

#4352 docs: Overview and Decision Guide for Field Data vs Solution Variable Data APIs [skip tests]
  doc/changelog.d/4352.documentation.md
  doc/source/user_guide/fields/field_vs_svars_data.rst
  doc/source/user_guide/fields/fields_contents.rst
  doc/source/user_guide/user_guide_contents.rst
Labels: documentation

#4355 fix: Remove string check of error message.
  doc/changelog.d/4355.fixed.md
  tests/test_session.py
Labels: bug

#4354 chore: Minor update to Makefile to clean the example directory.
  doc/changelog.d/4354.maintenance.md
  doc/make.bat
Labels: enhancement, maintenance

#4362 docs: Fix scheme_eval docs [skip tests]
  doc/changelog.d/4362.documentation.md
  doc/source/user_guide/legacy/scheme.rst
Labels: documentation

#4365 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/4365.documentation.md
Labels: documentation

#4315 build: Bump version to v0.35.dev0
  .github/workflows/ci.yml
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#4373 build: Fix release CI to use nightly dev tests again.
  .github/workflows/ci.yml
  doc/changelog.d/4373.dependencies.md
Labels: maintenance, CI/CD

#4385 build: Bump version 0.32.4
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/launcher/slurm_launcher.py
Labels: maintenance

#4386 build: Bump version 0.31.1
  .github/workflows/ci.yml
  Makefile
  pyproject.toml
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/launcher/slurm_launcher.py
Labels: maintenance

#4390 fix: Turn on automatic transcript while running codegen
  codegen/allapigen.py
  doc/changelog.d/4390.fixed.md
Labels: bug

#4423 fix: Release CI [skip tests]
  .github/workflows/ci.yml
  doc/changelog.d/4423.fixed.md
Labels: bug, maintenance, CI/CD

#4380 fix: Some config and env var cleanup
  doc/changelog.d/4380.fixed.md
  doc/source/user_guide/file_transfer.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  src/ansys/fluent/core/examples/downloads.py
  src/ansys/fluent/core/launcher/launch_options.py
  src/ansys/fluent/core/launcher/process_launch_string.py
  src/ansys/fluent/core/launcher/slurm_launcher.py
  src/ansys/fluent/core/module_config.py
  tests/conftest.py
  tests/test_launcher.py
Labels: bug, documentation

#4403 docs: Update ``CONTRIBUTORS.md`` with the latest contributors [skip tests]
  CONTRIBUTORS.md
  doc/changelog.d/4403.documentation.md
Labels: documentation
