Repository ansys/pyfluent, pull requests merged in 2025-03, with the labels that each got.

#3793 chore: Remove compare_flobject.py [skip tests]
  .ci/compare_flobject.py
  Makefile
  doc/changelog.d/3793.maintenance.md
Labels: enhancement

#3791 docs: Add doc for journal conversion [skip tests]
  doc/changelog.d/3791.documentation.md
  doc/source/user_guide/convert_journal.rst
  doc/source/user_guide/journal.rst
  doc/source/user_guide/legacy/tui.rst
  doc/source/user_guide/user_guide_contents.rst
Labels: documentation

#3797 fix: Fix python_name issue in runtime python classes
  doc/changelog.d/3797.fixed.md
  doc/changelog.d/changelog_template.jinja
  doc/source/contributing/environment_variables.rst
  src/ansys/fluent/core/solver/flobject.py
  tests/test_settings_api.py
Labels: bug, documentation

#3807 docs: Fix built in settings doc [skip tests]
  doc/changelog.d/3807.documentation.md
  doc/source/user_guide/solver_settings/solver_settings_contents.rst
Labels: documentation

#3802 feat: Use 'deprecated-version' flag for settings-api classes
  doc/changelog.d/3802.added.md
  src/ansys/fluent/core/solver/flobject.py
  tests/test_flobject.py
  tests/test_settings_api.py
Labels: new feature

#3814 build: Bump version to v0.30.dev4
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#3817 build: Bump version to v0.30.0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#3820 build: Bump version to v0.31.dev0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#3824 test: Test that Fluent error message is recovered in PyFluent
  doc/changelog.d/3824.test.md
  src/ansys/fluent/core/solver/flobject.py
  tests/test_session.py
  tests/test_settings_api.py
Labels: enhancement

#3826 build: Update ansys-units version
  doc/changelog.d/3826.dependencies.md
  pyproject.toml
Labels: maintenance

#3827 feat: Object based field data access (unifying the interface).
  doc/changelog.d/3827.added.md
  doc/source/user_guide/fields/field_data.rst
  src/ansys/fluent/core/services/field_data.py
  tests/test_field_data.py
Labels: documentation, new feature

#3832 feat: Remove lxml
  doc/changelog.d/3832.added.md
  pyproject.toml
  src/ansys/fluent/core/filereader/case_file.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/report.py
Labels: maintenance, new feature

#3830 fix: Make version attr private to avoid conflict with child setting with same name.
  doc/changelog.d/3830.fixed.md
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  tests/test_codegen.py
  tests/test_flobject.py
  tests/test_type_stub.py
Labels: bug

#3831 build: Bump version 0.30.1
  doc/changelog.d/3832.added.md
  pyproject.toml
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/filereader/case_file.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/report.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  tests/test_codegen.py
  tests/test_flobject.py
  tests/test_type_stub.py
Labels: maintenance, dependencies

#3847 build: Bump version to v0.30.2
  doc/changelog.d/3841.fixed.md
  pyproject.toml
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/codegen/tuigen.py
  src/ansys/fluent/core/filereader/case_file.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/system_coupling.py
Labels: maintenance

#3840 chore: Do not sync labels [skip tests]
  .github/workflows/label.yml
  doc/changelog.d/3840.maintenance.md
Labels: enhancement, maintenance

#3843 fix: Updates for linux support & visualization minor changes
  doc/changelog.d/3843.fixed.md
  examples/00-fluent/ahmed_body_workflow.py
Labels: bug, documentation, examples

#3854 chore: Update nightly doc build workflow [skip tests]
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/execute-examples-weekly.yml
  doc/changelog.d/3854.maintenance.md
  tests/integration/test_optislang/test_optislang_integration.py
  tests/parametric/test_parametric_workflow.py
  tests/test_flobject.py
  tests/test_reduction.py
Labels: enhancement, maintenance, CI/CD

#3842 fix: Get dependency version [skip tests]
  doc/changelog.d/3842.fixed.md
  doc/source/api/api_contents.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/launcher/watchdog.py
  src/ansys/fluent/core/logger.py
  src/ansys/fluent/core/report.py
  tests/test_datamodel_service.py
Labels: bug, documentation

#3861 fix: Avoid file name as native Python package
  doc/api_rstgen.py
  doc/changelog.d/3861.fixed.md
  doc/source/cheatsheet/cheat_sheet.qmd
  src/ansys/fluent/core/launcher/watchdog_exec
Labels: bug, documentation

#3853 feat: Support PRE_POST mode
  doc/changelog.d/3853.added.md
  doc/source/user_guide/session/launching_ansys_fluent.rst
  src/ansys/fluent/core/launcher/process_launch_string.py
  src/ansys/fluent/core/launcher/pyfluent_enums.py
  tests/test_pre_post_session.py
Labels: documentation, new feature

#3867 chore: Workflow to use latest Fluent image in CI [skip tests]
  .github/workflows/force-update-stable-Fluent-image-version.yml
  doc/changelog.d/3867.maintenance.md
Labels: enhancement, maintenance

#3865 feat: codegen for datamodel command arguments
  .github/workflows/ci.yml
  doc/api_rstgen.py
  doc/changelog.d/3865.added.md
  doc/source/api/api_contents.rst
  doc/source/contributing/contributing_contents.rst
  src/ansys/fluent/core/codegen/datamodelgen.py
  src/ansys/fluent/core/meshing/meshing_workflow.py
  src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/session_base_meshing.py
  src/ansys/fluent/core/session_shared.py
  src/ansys/fluent/core/workflow.py
  tests/test_codegen.py
  tests/test_datamodel_service.py
  tests/test_new_meshing_workflow.py
Labels: documentation, maintenance, new feature

#3874 docs: Update enhanced meshing workflow docs.
  doc/changelog.d/3874.documentation.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/meshing/new_meshing_workflows.rst
Labels: documentation

#3878 build: Release updated doc for v0.30
  doc/changelog.d/3874.documentation.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/meshing/new_meshing_workflows.rst
Labels: documentation, maintenance

#3825 feat: Enhanced error handling in Settings API
  doc/changelog.d/3825.added.md
  src/ansys/fluent/core/launcher/launcher_utils.py
  tests/test_session.py
Labels: new feature
