Repository ansys/pyfluent, pull requests merged in 2025-06, with the labels that each got.

#4104 chore: skip test_search
  doc/changelog.d/4104.maintenance.md
  tests/test_search.py
Labels: enhancement

#4098 refactor: Semantic search enhancements
  doc/changelog.d/4098.miscellaneous.md
  doc/source/user_guide/usability.rst
  src/ansys/fluent/core/search.py
  tests/test_search.py
Labels: documentation, enhancement

#4115 refactor: Run each test in its own directory
  doc/changelog.d/4115.miscellaneous.md
  tests/conftest.py
Labels: enhancement

#4116 refactor: Update app utilities dict interface
  doc/changelog.d/4116.miscellaneous.md
  src/ansys/fluent/core/codegen/print_fluent_version.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/services/app_utilities.py
  src/ansys/fluent/core/services/datamodel_se.py
  tests/test_session.py
Labels: enhancement

#4123 docs: Correct a typo [skip tests]
  doc/changelog.d/4123.documentation.md
  examples/00-fluent/exhaust_system_settings_api.py
  examples/00-fluent/external_compressible_flow.py
  examples/00-fluent/modeling_cavitation.py
Labels: documentation, examples

#4120 chore: Update the warning throw from '_get_create_instance_args'
  doc/changelog.d/4120.maintenance.md
  src/ansys/fluent/core/services/datamodel_se.py
Labels: enhancement

#4146 fix: Backward compatibility of health_check
  doc/changelog.d/4146.fixed.md
  src/ansys/fluent/core/session.py
Labels: bug

#4119 docs: Address inconsistencies in naming svars.
  devel/undocumented_fields/undocumented_fields.txt
  doc/changelog.d/4119.documentation.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/fields/solution_data.rst
  doc/source/user_guide/physical_variables.rst
  src/ansys/fluent/core/services/solution_variables.py
  tests/test_physical_quantities.py
  tests/test_solution_variables.py
Labels: documentation

#4148 fix: removing invalid pyproject.toml entry
  Makefile
  doc/changelog.d/4148.fixed.md
  pyproject.toml
Labels: bug, maintenance, dependencies

#4158 chore: Fix github caching for codegen
  .github/workflows/ci.yml
  doc/changelog.d/4158.maintenance.md
Labels: enhancement, maintenance, CI/CD

#4152 ci: Resolve unpinned tag security warnings [skip tests]
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/doc-build-release.yml
  .github/workflows/execute-examples-weekly.yml
  .github/workflows/force-update-stable-Fluent-image-version.yml
  .github/workflows/test-fluent-journals.yml
  .github/workflows/test-podman-compose.yml
  .github/workflows/test-run-custom.yml
  .github/workflows/test-run-dev-version-nightly.yml
  .github/workflows/test-run-nightly.yml
  .github/workflows/test-run-old-versions-weekly.yml
  .github/workflows/test-run-solvermode-weekly.yml
  .github/workflows/test-run-wo-codegen-weekly.yml
  doc/changelog.d/4152.maintenance.md
Labels: maintenance, CI/CD

#4169 build: Bump version 0.32.2
  doc/changelog.d/4166.fixed.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/codegen/builtin_settingsgen.py
  src/ansys/fluent/core/solver/flobject.py
  tests/test_flobject.py
  tests/test_search.py
  tests/test_settings_api.py
  tests/test_utils.py
Labels: maintenance

#4140 chore: Add warning while using Fluent develop branch.
  doc/changelog.d/4140.maintenance.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/exceptions.py
  src/ansys/fluent/core/pyfluent_warnings.py
  src/ansys/fluent/core/session_base_meshing.py
  src/ansys/fluent/core/session_shared.py
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/solver/flobject.py
Labels: enhancement

#4164 feat: Add builtin commands
  .github/workflows/ci.yml
  doc/changelog.d/4164.added.md
  src/ansys/fluent/core/codegen/builtin_settingsgen.py
  src/ansys/fluent/core/solver/__init__.py
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  src/ansys/fluent/core/solver/settings_builtin_data.py
  src/ansys/fluent/core/utils/context_managers.py
  tests/test_builtin_settings.py
Labels: maintenance, new feature

#4177 fix: Fix an issue in returning parameter units
  doc/changelog.d/4177.fixed.md
  src/ansys/fluent/core/services/scheme_eval.py
  src/ansys/fluent/core/solver/flobject.py
Labels: bug

#4172 feat: Add helper methods to specify a set of Fluent versions
  devel/update_settings_builtin_data.py
  doc/changelog.d/4172.added.md
  src/ansys/fluent/core/codegen/builtin_settingsgen.py
  src/ansys/fluent/core/solver/settings_builtin_bases.py
  src/ansys/fluent/core/solver/settings_builtin_data.py
  src/ansys/fluent/core/utils/fluent_version.py
  tests/test_fluent_version.py
Labels: new feature

#4168 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/4168.documentation.md
Labels: documentation

#4163 fix: container launch issues
  doc/changelog.d/4163.fixed.md
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/fluent_container.py
  tests/conftest.py
  tests/test_builtin_settings.py
  tests/test_launcher.py
  tests/test_session.py
Labels: bug

#4200 ci: Delete remove docker image step [skip tests]
  .github/workflows/ci.yml
  .github/workflows/force-update-stable-Fluent-image-version.yml
  .github/workflows/test-run-dev-version-nightly.yml
  doc/changelog.d/4200.maintenance.md
Labels: maintenance, CI/CD

#4196 docs: Add section for jupyterlab code-completion in FAQ [skip-tests]
  doc/changelog.d/4196.documentation.md
  doc/source/getting_started/faqs.rst
Labels: documentation

#4197 fix: No warning for None values and remove a doc dependency
  doc/changelog.d/4197.fixed.md
  pyproject.toml
  src/ansys/fluent/core/launcher/launch_options.py
  tests/test_launcher.py
Labels: bug, maintenance, dependencies

#4201 ci: Fix nightly dev test run workflow
  doc/changelog.d/4201.maintenance.md
  tests/test_fluent_fixes.py
  tests/test_solver_monitors.py
Labels: CI/CD

#4205 build: Bump version to v0.33.0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#4153 feat: beta features access
  doc/changelog.d/4153.added.md
  pyproject.toml
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/services/app_utilities.py
  src/ansys/fluent/core/session.py
  src/ansys/fluent/core/session_pure_meshing.py
  src/ansys/fluent/core/session_pure_meshing.pyi
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/session_solver.pyi
  src/ansys/fluent/core/solver/flobject.py
  tests/conftest.py
  tests/test_session.py
  tests/test_settings_api.py
Labels: maintenance, new feature, dependencies

#4207 build: Bump version to v0.34.dev0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#4174 chore: static class attributes
  doc/changelog.d/4174.maintenance.md
  doc/settings_rstgen.py
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/solver/error_message.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/utils/fluent_version.py
  tests/test_casereader.py
  tests/test_flobject.py
  tests/test_fluent_version.py
  tests/test_settings_reader.py
Labels: enhancement
