Repository ansys/pyfluent, pull requests merged in 2025-09, with the labels that each got.

#4436 fix: diabled single battery cell simulation ui option
  doc/changelog.d/4436.fixed.md
  examples/00-fluent/single_battery_cell_workflow.py
Labels: bug, documentation, examples

#4426 feat: Enable Fluent's automatic transcript
  doc/changelog.d/4426.added.md
  doc/changelog.d/4436.fixed.md
  doc/source/contributing/environment_variables.rst
  src/ansys/fluent/core/module_config.py
  src/ansys/fluent/core/report.py
  tests/test_launcher.py
Labels: documentation, new feature

#4447 chore: Move Field data streaming to service creator.
  doc/changelog.d/4447.maintenance.md
  src/ansys/fluent/core/services/__init__.py
  src/ansys/fluent/core/session.py
Labels: enhancement

#4457 ci: fix release [skip tests]
  .github/workflows/ci.yml
  doc/changelog.d/4457.maintenance.md
Labels: maintenance, CI/CD

#4381 build: Update nightly dev doc ci.
  .github/workflows/doc-build-dev-nightly.yml
  doc/changelog.d/4381.dependencies.md
Labels: maintenance

#4382 fix: Textual type in flobject.
  doc/changelog.d/4382.fixed.md
  src/ansys/fluent/core/solver/flobject.py
Labels: bug

#4470 fix: flake8 change needed for release [skip tests]
  doc/changelog.d/4470.fixed.md
  doc/source/conf.py
Labels: bug, documentation

#4473 ci: Do not run release testing for dev release [skip tests]
  .github/workflows/ci.yml
  doc/changelog.d/4473.maintenance.md
  src/ansys/fluent/core/__init__.py
Labels: maintenance, CI/CD

#4474 build: Bump version to 0.36.dev0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#4479 chore: Update CODEOWNERS [skip tests]
  CODEOWNERS
  doc/changelog.d/4479.maintenance.md
Labels: enhancement
