Repository ansys/pyfluent, pull requests merged in 2025-04, with the labels that each got.

#3858 refactor: internal interface of field data
  doc/changelog.d/3858.miscellaneous.md
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/offline/file_session.rst
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/services/__init__.py
  src/ansys/fluent/core/services/deprecated_field_data.py
  src/ansys/fluent/core/services/field_data.py
  tests/test_field_data.py
  tests/test_file_session.py
Labels: documentation, enhancement

#3881 test: Update test.
  doc/changelog.d/3881.test.md
  tests/test_session.py
Labels: enhancement

#3875 fix: Minor issue in task.add_child_and_update
  doc/changelog.d/3875.fixed.md
  src/ansys/fluent/core/workflow.py
  tests/test_new_meshing_workflow.py
Labels: bug

#3879 fix: Fix missing field-level help at various levels
  doc/api_rstgen.py
  doc/changelog.d/3879.fixed.md
  src/ansys/fluent/core/codegen/datamodelgen.py
  tests/test_datamodel_service.py
Labels: bug

#3893 test: Enable the tests which are now passing in nightly
  doc/changelog.d/3893.test.md
  tests/integration/test_optislang/test_optislang_integration.py
  tests/test_flobject.py
  tests/test_reduction.py
Labels: enhancement

#3904 docs: Direct users to use virtual env if Ansys Python is used.
  doc/changelog.d/3904.documentation.md
  doc/source/getting_started/faqs.rst
Labels: documentation

#3920 build: Bump version 0.30.3
  .github/workflows/ci.yml
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/session_shared.py
Labels: maintenance

#3930 refactor: Update enhanced meshing wf tests w.r.t. docs.
  doc/changelog.d/3930.miscellaneous.md
  tests/test_new_meshing_workflow.py
Labels: enhancement

#3925 fix: Remove license header hook [skip tests]
  .pre-commit-config.yaml
  doc/changelog.d/3925.fixed.md
Labels: bug

#3917 refactor: Add timeout_loop for health check
  doc/changelog.d/3917.miscellaneous.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/services/health_check.py
Labels: enhancement

#3924 feat: Register multiple event types in register_callback()
  doc/changelog.d/3924.added.md
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/streaming_services/events_streaming.py
  tests/test_events_manager.py
Labels: new feature

#3937 fix: Create directory within the current user's home
  doc/changelog.d/3937.fixed.md
  tests/test_file_transfer_service.py
Labels: bug

#3915 refactor: Update test_remote_grpc_fts_container
  doc/changelog.d/3915.miscellaneous.md
  doc/changelog.d/3937.fixed.md
  tests/conftest.py
  tests/test_file_transfer_service.py
Labels: enhancement

#3939 fix: Skip test_reduction_does_not_modify_case [skip tests]
  doc/changelog.d/3939.fixed.md
  tests/test_reduction.py
Labels: bug

#3916 docs: Update file transfer docs
  doc/changelog.d/3916.documentation.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/file_transfer.rst
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/utils/file_transfer_service.py
  tests/conftest.py
  tests/parametric/test_parametric_workflow.py
  tests/test_file_transfer_service.py
  tests/test_session.py
Labels: documentation

#3935 fix: Fix for the exit scenario while launching in lightweight mode
  doc/changelog.d/3935.fixed.md
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/services/interceptors.py
  src/ansys/fluent/core/session_solver.py
  tests/test_session.py
Labels: bug

#3943 fix: Nightly meshing tests.
  doc/changelog.d/3943.fixed.md
  src/ansys/fluent/core/workflow.py
  tests/test_new_meshing_workflow.py
Labels: bug

#3934 refactor: Update field data output.
  doc/changelog.d/3934.miscellaneous.md
  doc/source/user_guide/fields/field_data.rst
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/services/field_data.py
  tests/test_field_data.py
  tests/test_file_session.py
Labels: documentation, enhancement

#3941 fix: Update mount_source for container FTS [skip tests]
  doc/changelog.d/3941.fixed.md
  src/ansys/fluent/core/launcher/fluent_container.py
  tests/test_session.py
Labels: bug

#3948 fix: Fix deprecated behaviour
  doc/changelog.d/3948.fixed.md
  src/ansys/fluent/core/solver/flobject.py
  tests/test_settings_api.py
Labels: bug

#3951 fix: Preprocess xml content before sending it to ElementTree parser
  doc/changelog.d/3951.fixed.md
  src/ansys/fluent/core/filereader/case_file.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/filereader/pre_processor.py
  tests/test_casereader.py
Labels: bug

#3953 fix: deprecated flag for flobject.py
  doc/changelog.d/3953.fixed.md
  src/ansys/fluent/core/solver/flobject.py
Labels: bug

#3954 build: Bump version 0.30.4
  doc/changelog.d/3939.fixed.md
  doc/changelog.d/3951.fixed.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/filereader/case_file.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/filereader/pre_processor.py
  tests/test_casereader.py
  tests/test_reduction.py
Labels: maintenance

#3949 fix: Raise AttributeError for non-existing meshing objects after switch_to solver.
  doc/changelog.d/3949.fixed.md
  src/ansys/fluent/core/session.py
  src/ansys/fluent/core/session_meshing.py
  src/ansys/fluent/core/session_solver.py
  tests/conftest.py
  tests/test_cad_to_post_ftm.py
  tests/test_cad_to_post_wtm.py
  tests/test_fluent_session.py
  tests/test_meshing_workflow.py
  tests/test_meshingmode/test_meshing_launch.py
  tests/test_new_meshing_workflow.py
  tests/test_preferences.py
  tests/test_pure_mesh_vs_mesh_workflow.py
  tests/test_session.py
Labels: bug

#3961 fix: Enable Scheme mode when py=False is set
  doc/changelog.d/3961.fixed.md
  src/ansys/fluent/core/launcher/standalone_launcher.py
  tests/test_session.py
Labels: bug

#3963 feat: Support unsuppressing prompts in scheme_eval
  doc/changelog.d/3963.added.md
  src/ansys/fluent/core/services/scheme_eval.py
Labels: new feature

#3965 chore: Update 2d meshing test and doc.
  doc/changelog.d/3965.maintenance.md
  doc/source/user_guide/meshing/new_meshing_workflows.rst
  tests/test_new_meshing_workflow.py
Labels: documentation, enhancement

#3969 build: Bump version 0.31.dev1
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#3979 build: Bump version to v0.30.5
  doc/changelog.d/3953.fixed.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/solver/flobject.py
Labels: maintenance

#3978 chore: Fix code style [skip tests]
  doc/changelog.d/3977.maintenance.md
  doc/changelog.d/3978.maintenance.md
  examples/00-fluent/frozen_rotor_workflow.py
Labels: documentation, enhancement, examples

#3962 docs: Update meshing doc after switching to solver
  doc/changelog.d/3962.documentation.md
  src/ansys/fluent/core/session_meshing.py
  tests/test_meshingmode/test_meshing_launch.py
Labels: documentation

#3982 chore: Update error message for attribute errors from Solver.
  doc/changelog.d/3982.maintenance.md
  src/ansys/fluent/core/session_solver.py
Labels: enhancement

#3984 chore: Search for undocumented fields in codebase
  devel/undocumented_fields/search_undocumented_fields.py
  devel/undocumented_fields/undocumented_fields.txt
  doc/changelog.d/3984.maintenance.md
  src/ansys/fluent/core/session_solver.py
Labels: enhancement

#3966 docs: Adding Mixing Tank Example [skip tests]
  doc/changelog.d/3966.documentation.md
  doc/make.bat
  doc/source/_static/mixing_tank_geom_view.png
  doc/source/_static/mixing_tank_mesh.png
  doc/source/_static/mixing_tank_velocity_contour.png
  doc/source/conf.py
  examples/00-fluent/mixing_tank_workflow.py
Labels: documentation, examples, maintenance

#3990 Added the scale attribute to adjust image size.
  examples/00-fluent/mixing_tank_workflow.py
Labels: documentation, examples
