Repository ansys/pyfluent, pull requests merged in 2025-02, with the labels that each got.

#3699 docs: Fix examples gallery [skip tests]
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  doc/changelog.d/3699.documentation.md
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies, maintenance, CI/CD

#3698 docs: Update launcher docs [skip tests]
  doc/changelog.d/3698.documentation.md
  doc/source/user_guide/session/launching_ansys_fluent.rst
Labels: documentation

#3694 refactor: Update launchers
  doc/changelog.d/3694.miscellaneous.md
  doc/source/user_guide/file_transfer.rst
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/launcher/pim_launcher.py
  src/ansys/fluent/core/launcher/slurm_launcher.py
  src/ansys/fluent/core/launcher/standalone_launcher.py
  src/ansys/fluent/core/services/deprecated_field_data.py
  src/ansys/fluent/core/services/field_data.py
Labels: documentation, enhancement

#3701 docs: Hyperlink to key APIs [skip tests]
  doc/api_rstgen.py
  doc/changelog.d/3701.documentation.md
  doc/source/api/index.rst
  pyproject.toml
Labels: documentation, dependencies, maintenance

#3703 docs: Remove parameters section for settings commands [skip tests]
  doc/changelog.d/3703.documentation.md
  src/ansys/fluent/core/codegen/settingsgen.py
Labels: documentation

#3710 fix: Update dependencies [skip tests]
  doc/changelog.d/3710.fixed.md
  pyproject.toml
Labels: bug, dependencies, maintenance

#3708 docs: Update built-in settings doc and fix doc warnings [skip tests]
  doc/changelog.d/3708.documentation.md
  doc/source/user_guide/solver_settings/index.rst
  src/ansys/fluent/core/services/field_data.py
Labels: documentation

#3712 docs: Fix warnings in field data and reduction docs [skip tests]
  doc/changelog.d/3712.documentation.md
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/fields/reduction.rst
Labels: documentation

#3714 chore: Get hanging test names by parsing the GitHub logs [skip tests]
  .ci/get_hanging_tests.py
  doc/changelog.d/3711.miscellaneous.md
  doc/changelog.d/3714.maintenance.md
Labels: enhancement, CI/CD

#3705 build: Bump version to v0.29.0
  .github/workflows/ci.yml
  doc/changelog.d/3705.dependencies.md
  doc/source/contributing/index.rst
  pyproject.toml
  src/ansys/fluent/core/_version.py
Labels: documentation, dependencies, maintenance, CI/CD

#3718 fix: Update token and contributing doc [skip tests]
  .github/workflows/ci.yml
  doc/changelog.d/3718.fixed.md
  doc/source/contributing/index.rst
  tests/test_search.py
Labels: bug, documentation, maintenance, CI/CD

#3721 docs: Update docs to connect Fluent launched on Linux [skip tests]
  doc/changelog.d/3721.documentation.md
  doc/source/user_guide/session/launching_ansys_fluent.rst
Labels: documentation

#3702 fix: Enable app_utilities test for 25R2
  doc/changelog.d/3702.fixed.md
  tests/test_session.py
Labels: bug

#3722 build: Bump version to v0.30.dev0
  pyproject.toml
  src/ansys/fluent/core/_version.py
Labels: dependencies, maintenance

#3726 docs: Update launch_fluent snippets [skip tests]
  .pre-commit-config.yaml
  doc/changelog.d/3726.documentation.md
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/fields/field_info.rst
  doc/source/user_guide/fields/reduction.rst
  doc/source/user_guide/fields/solution_data.rst
  doc/source/user_guide/file_transfer.rst
  doc/source/user_guide/meshing/new_meshing_workflows.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  doc/source/user_guide/transfer_data.rst
  src/ansys/fluent/core/utils/file_transfer_service.py
Labels: documentation

#3730 ci: Add workflow for examples [skip tests]
  .github/workflows/execute-examples-weekly.yml
  doc/changelog.d/3730.maintenance.md
Labels: maintenance, CI/CD

#3734 refactor: Rename warnings.py to fix examples workflow
  .github/workflows/execute-examples-weekly.yml
  doc/changelog.d/3732.maintenance.md
  doc/changelog.d/3734.miscellaneous.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/filereader/casereader.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/pyfluent_warnings.py
  src/ansys/fluent/core/services/deprecated_field_data.py
  src/ansys/fluent/core/services/solution_variables.py
  src/ansys/fluent/core/session.py
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/streaming_services/events_streaming.py
  src/ansys/fluent/core/utils/deprecate.py
  src/ansys/fluent/core/utils/file_transfer_service.py
  src/ansys/fluent/core/workflow.py
  tests/test_events_manager.py
  tests/test_session.py
  tests/test_settings_api.py
Labels: enhancement, maintenance, CI/CD

#3728 feat: Use new data-model api.
  doc/changelog.d/3728.added.md
  src/ansys/fluent/core/launcher/launcher_utils.py
Labels: new feature

#3736 docs: Build nightly dev docs with Fluent 25.2
  .github/workflows/doc-build-dev-nightly.yml
  doc/changelog.d/3736.documentation.md
  examples/00-fluent/species_transport.py
  tests/test_flobject.py
Labels: documentation, examples, maintenance, CI/CD

#3741 ci: Fix labels [skip tests]
  .github/labels.yml
  doc/changelog.d/3741.maintenance.md
Labels: maintenance, CI/CD

#3742 refactor: Revert the new dm api as default.
  doc/changelog.d/3742.miscellaneous.md
  src/ansys/fluent/core/launcher/launcher_utils.py
Labels: enhancement

#3745 fix: Safely delete para env vars
  doc/changelog.d/3745.fixed.md
  src/ansys/fluent/core/launcher/launcher_utils.py
Labels: bug

#3749 refactor: __collection -> _collection for MutableMappings.
  doc/changelog.d/3749.miscellaneous.md
  src/ansys/fluent/core/post_objects/meta.py
Labels: enhancement

#3757 refactor: Update PyLocalContainer to update _collection.
  doc/changelog.d/3757.miscellaneous.md
  src/ansys/fluent/core/post_objects/meta.py
Labels: enhancement

#3750 build: Bump version to v0.30.dev1
  pyproject.toml
  src/ansys/fluent/core/_version.py
Labels: maintenance

#3758 build: Bump version to v0.30.dev2
  pyproject.toml
  src/ansys/fluent/core/_version.py
Labels: maintenance

#3751 fix: Better way to copy the current function argument values
  doc/changelog.d/3751.fixed.md
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/pim_launcher.py
  src/ansys/fluent/core/launcher/slurm_launcher.py
  src/ansys/fluent/core/launcher/standalone_launcher.py
Labels: bug

#3756 docs: Update local doc build instructions [skip tests]
  doc/changelog.d/3756.documentation.md
  doc/source/contributing/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#3731 ci: Enhanced code checking
  .github/workflows/execute-examples-weekly.yml
  .pre-commit-config.yaml
  check_vulnerabilities.py
  doc/changelog.d/3731.maintenance.md
  doc/source/contributing/environment_variables.rst
  pyproject.toml
  requirements/requirements_vulnernabilities.py
  src/ansys/fluent/core/codegen/allapigen.py
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/search.py
  src/ansys/fluent/core/services/batch_ops.py
  src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/systemcoupling.py
  src/ansys/fluent/core/utils/dump_session_data.py
  src/ansys/fluent/core/utils/file_transfer_service.py
  src/ansys/fluent/core/workflow.py
  tests/test_codegen.py
Labels: documentation, maintenance

#3761 docs: search engine optimization
  doc/api_rstgen.py
  doc/changelog.d/3761.documentation.md
  doc/datamodel_rstgen.py
  doc/rstgen.py
  doc/source/api/api_contents.rst
  doc/source/contributing/contributing_contents.rst
  doc/source/getting_started/getting_started_contents.rst
  doc/source/index.rst
  doc/source/user_guide/fields/fields_contents.rst
  doc/source/user_guide/legacy/legacy_contents.rst
  doc/source/user_guide/meshing/meshing_contents.rst
  doc/source/user_guide/offline/offline_contents.rst
  doc/source/user_guide/session/session_contents.rst
  doc/source/user_guide/solver_settings/set_up/models/models_contents.rst
  doc/source/user_guide/solver_settings/set_up/setup_contents.rst
  doc/source/user_guide/solver_settings/solver_settings_contents.rst
  doc/source/user_guide/user_guide_contents.rst
  src/ansys/fluent/core/codegen/datamodelgen.py
  src/ansys/fluent/core/session_base_meshing.py
  src/ansys/fluent/core/session_meshing.pyi
  src/ansys/fluent/core/session_pure_meshing.pyi
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/session_solver.pyi
  src/ansys/fluent/core/system_coupling.py
  tests/test_codegen.py
  tests/test_file_transfer_service.py
Labels: documentation

#3768 refactor: Remove vulnerabilities check
  .github/workflows/execute-examples-weekly.yml
  .pre-commit-config.yaml
  check_vulnerabilities.py
  doc/changelog.d/3731.maintenance.md
  doc/changelog.d/3768.miscellaneous.md
  doc/source/contributing/environment_variables.rst
  pyproject.toml
  requirements/requirements_vulnernabilities.py
  src/ansys/fluent/core/codegen/allapigen.py
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/search.py
  src/ansys/fluent/core/services/batch_ops.py
  src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/system_coupling.py
  src/ansys/fluent/core/utils/dump_session_data.py
  src/ansys/fluent/core/utils/file_transfer_service.py
  src/ansys/fluent/core/workflow.py
  tests/test_codegen.py
Labels: documentation, enhancement, maintenance, dependencies, CI/CD

#3762 docs: clean doc strs
  doc/changelog.d/3762.documentation.md
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/codegen/walk_api.py
  src/ansys/fluent/core/solver/_docstrings.py
  src/ansys/fluent/core/solver/flobject.py
  tests/test_codegen.py
Labels: documentation

#3770 fix: Minor issues in PyConsole.
  doc/changelog.d/3770.fixed.md
  src/ansys/fluent/core/services/datamodel_se.py
  src/ansys/fluent/core/session_meshing.py
  src/ansys/fluent/core/solver/flobject.py
  tests/test_flobject.py
  tests/test_meshingmode/test_meshing_launch.py
Labels: bug

#3772 docs: Update cheat sheet link [skip tests]
  README.rst
  doc/changelog.d/3772.documentation.md
Labels: documentation

#3776 refactor: Remove 'rename' from Enhanced Meshing Workflow top level.
  doc/changelog.d/3776.miscellaneous.md
  src/ansys/fluent/core/workflow.py
Labels: enhancement

#3777 fix: Support Group type argument during codegen
  doc/changelog.d/3777.fixed.md
  src/ansys/fluent/core/codegen/settingsgen.py
Labels: bug

#3780 fix: Fix for nested alias
  doc/changelog.d/3780.fixed.md
  src/ansys/fluent/core/solver/flobject.py
  tests/test_settings_api.py
Labels: bug

#3781 fix: input/output types for completer icons
  doc/changelog.d/3781.fixed.md
  src/ansys/fluent/core/solver/flobject.py
Labels: bug

#3789 build: Bump version to v0.30.dev3
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#3766 feat: Utility to test viability of grpc connection
  doc/changelog.d/3766.added.md
  src/ansys/fluent/core/utils/test_grpc_connection.py
Labels: new feature

#3788 docs: add solver to example usage command
  doc/changelog.d/3788.documentation.md
  doc/source/user_guide/solver_settings/solver_settings_contents.rst
Labels: documentation

#3792 fix: Keep switch-to-meshing as hidden to fix Fluent journal replay.
  doc/changelog.d/3792.fixed.md
  src/ansys/fluent/core/services/datamodel_tui.py
  tests/test_tui_api.py
Labels: bug
