Repository ansys/pyfluent, pull requests merged in 2025-10, with the labels that each got.

#4517 chore: Upgrade ansys-units version to fix numpy version issue.
  doc/changelog.d/4517.maintenance.md
  pyproject.toml
Labels: enhancement, maintenance, dependencies

#4520 docs: Document a known limitation [skip tests]
  doc/changelog.d/4520.documentation.md
  doc/source/index.rst
Labels: documentation

#4478 docs: Update Field data queries [skip tests]
  doc/changelog.d/4478.documentation.md
  doc/source/user_guide/fields/field_data.rst
Labels: documentation

#4531 docs: Update new style settings docs [skip tests]
  doc/changelog.d/4531.documentation.md
  doc/source/user_guide/solver_settings/solver_settings_contents.rst
Labels: documentation

#4530 fix: Meshing tests.
  doc/changelog.d/4530.fixed.md
  tests/test_datamodel_service.py
  tests/test_flobject.py
  tests/test_new_meshing_workflow.py
  tests/test_preferences.py
  tests/test_reduction.py
Labels: bug

#4529 fix: Fix env var name and run nightly in serial
  .github/workflows/ci.yml
  .github/workflows/test-run-dev-version-nightly.yml
  .github/workflows/test-run-nightly.yml
  .github/workflows/test-run-old-versions-weekly.yml
  .github/workflows/test-run-solvermode-weekly.yml
  .github/workflows/test-run-wo-codegen-weekly.yml
  Makefile
  doc/changelog.d/4529.fixed.md
  doc/changelog.d/4530.fixed.md
  src/ansys/fluent/core/module_config.py
  tests/test_datamodel_service.py
  tests/test_flobject.py
  tests/test_new_meshing_workflow.py
  tests/test_preferences.py
  tests/test_reduction.py
Labels: bug, maintenance, CI/CD

#4494 docs: Corrected a typo in Ablation example [skip tests]
  doc/changelog.d/4494.documentation.md
  examples/00-fluent/modeling_ablation.py
Labels: documentation, examples
