Repository ansys/pyfluent, pull requests merged in 2025-07, with the labels that each got.

#4232 feat: add settings named objects
  doc/changelog.d/4232.added.md
  src/ansys/fluent/core/solver/flobject.py
  tests/test_field_data.py
  tests/test_flobject.py
Labels: new feature

#4228 feat: Support passing objects to surfaces in field data.
  doc/changelog.d/4228.added.md
  doc/changelog.d/4232.added.md
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/fields/reduction.rst
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/services/field_data.py
  src/ansys/fluent/core/services/reduction.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/solver/function/reduction.py
  tests/test_field_data.py
  tests/test_flobject.py
  tests/test_reduction.py
Labels: documentation, new feature

#4171 fix: container timeout issue and new environment variables
  doc/changelog.d/4171.fixed.md
  doc/deprecated_pyfluent_apis.py
  doc/source/contributing/environment_variables.rst
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/error_handler.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/launcher/watchdog.py
  src/ansys/fluent/core/launcher/watchdog_exec
  src/ansys/fluent/core/report.py
  tests/test_fluent_session.py
  tests/test_launcher.py
Labels: bug, documentation

#4221 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/4221.documentation.md
Labels: documentation

#4224 docs: Add Podman Usage Examples and Documentation Improvements [skip tests]
  doc/changelog.d/4224.documentation.md
  doc/source/user_guide/make_container_image.rst
  doc/source/user_guide/meshing/meshing_workflows.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  doc/source/user_guide/usability.rst
  examples/00-fluent/conjugate_heat_transfer.py
  pyproject.toml
Labels: documentation, examples, maintenance, dependencies

#4190 feat: Set string settings with allowed values via string constants
  doc/changelog.d/4190.added.md
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/services/settings.py
  src/ansys/fluent/core/solver/flobject.py
  tests/test_codegen.py
  tests/test_settings_api.py
Labels: new feature

#4266 docs: update search results [skip tests]
  doc/changelog.d/4266.documentation.md
  doc/source/user_guide/usability.rst
Labels: documentation

#4269 test: Updates to optislang integration tests
  doc/changelog.d/4269.test.md
  tests/conftest.py
  tests/integration/test_optislang/test_optislang_integration.py
Labels: enhancement, testing

#4281 ci: Update 26.1 image tag to v26.1.latest
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/execute-examples-weekly.yml
  .github/workflows/force-update-stable-Fluent-image-version.yml
  .github/workflows/test-run-custom.yml
  .github/workflows/test-run-dev-version-nightly.yml
  .github/workflows/test-run-wo-codegen-weekly.yml
  doc/changelog.d/4281.maintenance.md
Labels: maintenance, CI/CD

#4285 fix: Builtin commands should execute the command without any additional call.
  doc/changelog.d/4285.fixed.md
  src/ansys/fluent/core/codegen/builtin_settingsgen.py
  src/ansys/fluent/core/solver/settings_builtin_data.py
  tests/test_builtin_settings.py
Labels: bug

#4286 refactor: Update allowed_values interface for field_data.
  doc/api_rstgen.py
  doc/changelog.d/4286.miscellaneous.md
  doc/source/api/api_contents.rst
  doc/source/user_guide/fields/field_data.rst
  src/ansys/fluent/core/services/field_data.py
  tests/test_field_data.py
Labels: documentation, enhancement

#4287 refactor: Deprecate FieldInfo.
  doc/changelog.d/4287.miscellaneous.md
  doc/deprecated_pyfluent_apis.py
  doc/source/user_guide/fields/field_data.rst
  doc/source/user_guide/fields/field_info.rst
  doc/source/user_guide/fields/fields_contents.rst
  doc/source/user_guide/offline/file_session.rst
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/services/__init__.py
  src/ansys/fluent/core/services/deprecated_field_data.py
  src/ansys/fluent/core/services/field_data.py
  src/ansys/fluent/core/services/reduction.py
  src/ansys/fluent/core/session.py
  tests/test_field_data.py
  tests/test_file_session.py
  tests/test_physical_quantities.py
Labels: documentation, enhancement

#4296 chore: Use units release >= 0.7.0
  doc/changelog.d/4296.maintenance.md
  pyproject.toml
  tests/test_physical_quantities.py
Labels: enhancement, maintenance

#4289 docs: Improve meshing field help text [skip tests]
  devel/field_level_help/improved_field_help_texts.json
  doc/changelog.d/4289.documentation.md
Labels: documentation, maintenance, dependencies

#4304 build: Bump version to v0.34.0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#4307 docs: API reference and docker image name update [skip tests]
  doc/api_rstgen.py
  doc/changelog.d/4307.documentation.md
  doc/source/api/api_contents.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  src/ansys/fluent/core/launcher/fluent_container.py
Labels: documentation

#4284 feat: Replace compose env vars with parameters
  .github/workflows/test-podman-compose.yml
  doc/changelog.d/4284.added.md
  doc/deprecated_pyfluent_apis.py
  doc/source/contributing/environment_variables.rst
  doc/source/user_guide/make_container_image.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  src/ansys/fluent/core/docker/docker_compose.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/launcher/launcher_utils.py
  src/ansys/fluent/core/report.py
  src/ansys/fluent/core/session.py
  src/ansys/fluent/core/session_solver.py
  tests/podman_compose.py
  tests/test_launcher.py
Labels: documentation, maintenance, new feature, CI/CD

#4305 ci: Use the stable image id in PR CI
  .ci/pull_fluent_image.py
  .github/workflows/ci.yml
  doc/changelog.d/4305.maintenance.md
  src/ansys/fluent/core/docker/utils.py
Labels: maintenance, CI/CD

#4323 ci: fix Fluent journal run CI for the latest image path change
  .ci/fluent_test_runner.py
  doc/changelog.d/4323.maintenance.md
  src/ansys/fluent/core/utils/fluent_version.py
Labels: CI/CD
