Repository ansys/pyfluent, pull requests merged in 2025-05, with the labels that each got.

#3944 fix: Manual stage for add-license-header [skip tests]
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/changelog.d/3944.fixed.md
  src/ansys/fluent/core/filereader/pre_processor.py
Labels: bug

#3986 chore: v0.30.5 changelog [skip tests]
  doc/changelog.d/3986.maintenance.md
  doc/source/changelog.rst
Labels: documentation, enhancement, maintenance

#3872 feat: Docker compose support
  doc/changelog.d/3872.added.md
  doc/source/contributing/environment_variables.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/docker/docker_compose.py
  src/ansys/fluent/core/fluent_connection.py
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/launcher/launcher_utils.py
  src/ansys/fluent/core/report.py
  src/ansys/fluent/core/session.py
  tests/test_launcher.py
Labels: documentation, maintenance, new feature

#3996 fix: Fix server-side error in builtin settings objects
  doc/changelog.d/3996.fixed.md
  src/ansys/fluent/core/solver/flobject.py
  tests/test_builtin_settings.py
Labels: bug

#3994 fix: Handle exceptions from third-party libraries during docker call
  doc/changelog.d/3994.fixed.md
  src/ansys/fluent/core/fluent_connection.py
Labels: bug

#3995 chore: Add a file describing the columns of field_level_help.csv
  devel/field_level_help/field_level_help_column_descriptors.txt
  devel/undocumented_fields/search_undocumented_fields.py
  devel/undocumented_fields/undocumented_fields.txt
  doc/changelog.d/3995.maintenance.md
Labels: enhancement

#4001 docs: Add Docker and Podman compose docs [skip tests]
  doc/api_rstgen.py
  doc/changelog.d/4001.documentation.md
  doc/source/api/api_contents.rst
  doc/source/user_guide/session/launching_ansys_fluent.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/fluent/core/docker/docker_compose.py
Labels: documentation

#3919 feat: Update launch function API design
  doc/changelog.d/3919.added.md
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/session_utilities.py
  tests/test_session.py
Labels: new feature

#4007 docs: Show deprecated APIs
  .github/workflows/ci.yml
  .github/workflows/doc-build-dev-nightly.yml
  .github/workflows/label.yml
  doc/changelog.d/4007.documentation.md
  doc/deprecated_pyfluent_apis.py
  doc/settings_rstgen.py
  doc/source/api/api_contents.rst
  pyproject.toml
  src/ansys/fluent/core/codegen/settingsgen.py
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/launcher/fluent_container.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/services/deprecated_field_data.py
  src/ansys/fluent/core/services/field_data.py
  src/ansys/fluent/core/session.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/utils/deprecate.py
  src/ansys/fluent/core/utils/file_transfer_service.py
  tests/test_session.py
Labels: documentation

#4015 feat: physical quantities 2
  doc/changelog.d/3988.added.md
  doc/changelog.d/4015.added.md
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/services/field_data.py
  src/ansys/fluent/core/services/reduction.py
  src/ansys/fluent/core/services/solution_variables.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/variable_strategies/__init__.py
  src/ansys/fluent/core/variable_strategies/expr.py
  src/ansys/fluent/core/variable_strategies/field.py
  src/ansys/fluent/core/variable_strategies/svar.py
  tests/test_physical_quantities.py
Labels: new feature

#4021 fix: Decorator warning message
  doc/changelog.d/4021.fixed.md
  src/ansys/fluent/core/utils/deprecate.py
Labels: bug

#4018 chore: Minor improvements.
  doc/changelog.d/4018.maintenance.md
  src/ansys/fluent/core/session.py
  tests/test_meshing_utilities.py
Labels: enhancement

#4016 chore: Refactor settings_root
  doc/changelog.d/4016.maintenance.md
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/utils/fluent_version.py
  tests/test_session.py
Labels: enhancement

#4025 docs: use variable catalog
  doc/changelog.d/4025.documentation.md
  doc/source/user_guide/physical_variables.rst
  doc/source/user_guide/user_guide_contents.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#4024 feat: Check if fluent exe exists in AWP_ROOT path while determining the Fluent version to launch
  doc/changelog.d/4024.added.md
  pyproject.toml
  src/ansys/fluent/core/codegen/tuigen.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/launcher/process_launch_string.py
  src/ansys/fluent/core/utils/fluent_version.py
  tests/test_fluent_version.py
  tests/test_launcher.py
Labels: new feature

#4033 feat: Extend use of VariableCatalog
  doc/changelog.d/4033.added.md
  src/ansys/fluent/core/file_session.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/services/field_data.py
  src/ansys/fluent/core/variable_strategies/svar.py
  tests/test_file_session.py
  tests/test_physical_quantities.py
Labels: new feature

#4031 test: Update test w.r.t. recent exposure flag changes in data-model.
  doc/changelog.d/4031.test.md
  tests/test_new_meshing_workflow.py
Labels: enhancement

#4029 chore: Fix datatype in field_level_help.csv [skip tests]
  devel/field_level_help/field_level_help.csv
  doc/changelog.d/4029.maintenance.md
Labels: enhancement

#4036 build: Bump version to v0.31.0
  pyproject.toml
  src/ansys/fluent/core/__init__.py
  tests/test_physical_quantities.py
Labels: maintenance

#4054 refactor: pyfluent_enums -> launch_options
  doc/api_rstgen.py
  doc/changelog.d/4054.miscellaneous.md
  doc/source/user_guide/session/launching_ansys_fluent.rst
  src/ansys/fluent/core/__init__.py
  src/ansys/fluent/core/launcher/__init__.py
  src/ansys/fluent/core/launcher/container_launcher.py
  src/ansys/fluent/core/launcher/error_handler.py
  src/ansys/fluent/core/launcher/launch_options.py
  src/ansys/fluent/core/launcher/launcher.py
  src/ansys/fluent/core/launcher/pim_launcher.py
  src/ansys/fluent/core/launcher/process_launch_string.py
  src/ansys/fluent/core/launcher/slurm_launcher.py
  src/ansys/fluent/core/launcher/standalone_launcher.py
  src/ansys/fluent/core/session_utilities.py
  tests/test_launcher.py
Labels: documentation, enhancement

#4042 refactor: scheme_eval.
  doc/changelog.d/4042.miscellaneous.md
  doc/deprecated_pyfluent_apis.py
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/user_guide/legacy/scheme.rst
  examples/00-fluent/DOE_ML.py
  examples/00-fluent/conjugate_heat_transfer.py
  src/ansys/fluent/core/post_objects/post_helper.py
  src/ansys/fluent/core/services/app_utilities.py
  src/ansys/fluent/core/services/field_data.py
  src/ansys/fluent/core/services/scheme_eval.py
  src/ansys/fluent/core/session.py
  src/ansys/fluent/core/session_meshing.py
  src/ansys/fluent/core/session_solver.py
  src/ansys/fluent/core/session_solver_aero.py
  src/ansys/fluent/core/session_solver_lite.py
  src/ansys/fluent/core/system_coupling.py
  tests/journals/test_DataModelService_26_Journal.py
  tests/journals/test_DatamodelAPIService_Journal.py
  tests/journals/test_DatamodelService_Journal.py
  tests/test_batch_ops.py
  tests/test_datamodel_api.py
  tests/test_datamodel_service.py
  tests/test_error_handling.py
  tests/test_events_manager.py
  tests/test_field_data.py
  tests/test_fluent_session.py
  tests/test_mapped_api.py
  tests/test_physical_quantities.py
  tests/test_pure_mesh_vs_mesh_workflow.py
  tests/test_reduction.py
  tests/test_scheme_eval_231.py
  tests/test_session.py
  tests/test_solution_variables.py
  tests/test_solvermode/test_calculationactivities.py
  tests/test_solvermode/test_general.py
  tests/test_streaming_services.py
  tests/test_systemcoupling.py
  tests/util/__init__.py
Labels: documentation, enhancement, examples

#4057 chore: clean up units business
  doc/changelog.d/4057.maintenance.md
  doc/source/user_guide/physical_variables.rst
  src/ansys/fluent/core/field_data_interfaces.py
  src/ansys/fluent/core/filereader/data_file.py
  src/ansys/fluent/core/services/reduction.py
  src/ansys/fluent/core/services/solution_variables.py
  src/ansys/fluent/core/solver/flobject.py
  src/ansys/fluent/core/variable_strategies/expr.py
  src/ansys/fluent/core/variable_strategies/field.py
  src/ansys/fluent/core/variable_strategies/svar.py
  tests/test_physical_quantities.py
  tests/test_reduction.py
Labels: documentation, enhancement, maintenance

#4056 chore: skip tests for nightly tests to pass [skip tests]
  doc/changelog.d/4056.maintenance.md
  tests/test_launcher_remote.py
Labels: enhancement

#4065 build: Bump version to v0.32.dev1
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#3281 test: Activate 2d meshing tests for 25 R1
  doc/changelog.d/3281.test.md
  tests/test_meshing_workflow.py
Labels: enhancement

#4082 build: Bump version to v0.32.0
  src/ansys/fluent/core/__init__.py
Labels: maintenance

#4083 build: Bump version to v0.33.dev0
  src/ansys/fluent/core/__init__.py
Labels: maintenance
